#skeleton {
    display: flex;
    padding: 1em 0;
}

.skeletonEleLeft {
    background: #494949;
    margin-left: 3.2em;
    border-radius: 15px;
}

.skeletonEleCenter {
    background: #494949;
    margin-left: 2.1em;
    border-radius: 15px;
}

.skeletonEleRight {
    background: #494949;
    margin-left: 1.8em;
    border-radius: 15px;
}